# The ignore file type list :

*.o
*.out
*.hex
*.obj
*.exe
*.ilk
*.dep
*.htm
*.manifest
*.pdb
*.idb
*.mtud
*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.old
*.xcuserstate
*.jpg
*.stackdump

FW_Simulation_Testing/UpgradeLog.XML
FW_Simulation_Testing/FW_Simulation_Testing.sdf
FW_Simulation_Testing/Debug/
FW_Simulation_Testing/Release/
FW_Simulation_Testing/FW_Simulation_Testing
FW_Simulation_Testing/_UpgradeReport_Files/
FW_Simulation_Testing/ipch/
FW_Simulation_Testing/FW_Simulation_Testing.xcodeproj/project.xcworkspace/xcuserdata/

FW_Simulation_Testing/Testing_Macro_Global_Effectivity/Debug/
FW_Simulation_Testing/Aux_Testing/Debug/
DefaultBuild/
/.project
